#settings-container,
#theme-div,
#help-div,
#language-div {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 1px 3px var(--purple1);
}

#PbackToSettings,
#TbackToSettings,
#HbackToSettings,
#LbackToSettings,
#light-theme:focus,
#dark-theme:focus {
    outline: none;
    border: none;
}

#PbackToSettings,
#TbackToSettings,
#HbackToSettings,
#LbackToSettings,
#light-theme:focus,
#dark-theme:focus {
    outline: none;
    border: none;
}


.settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--purple1);
}

.subtitle {
    color: var(--purple1) !important;
}

.settings-header h2.subtitle {
    margin: 0 auto;
    text-align: center;
    flex-grow: 1;
}

.settings-btn {
    font-size: 16px;
    line-height: 1px;
    color: var(--purple2);
}

.settings-options {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.settings-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: var(--purple1);
    padding: 12px 16px;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.settings-option:hover {
    background-color: var(--purple1);
    color: var(--white);
    font-weight: bold;
}

.settings-option:hover .glyphicon {
    color: var(--white);
}

.icon-left {
    margin-right: 12px;
    font-size: 20px;
}

.option-text {
    flex-grow: 1;
}

.icon-right {
    font-size: 14px;
    margin-left: auto;
    color: var(--purple1);
}

.logout-wrapper {
    margin-top: 40px;
    text-align: center;
}

.logout-wrapper .glyphicon {
    font-size: 18px;
    line-height: 1;
    position: relative;
    top: 1px;
}


.logout-btn {
    gap: 4px;
    padding: 10px 30px !important;
}

.settings-option,
.settings-option:hover,
.settings-option:focus,
.settings-option:active {
    text-decoration: none !important;
}


@media (max-width: 768px) {

    #settings-container {
        display: flex;
        max-width: initial;
        width: 65vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        padding-top: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .settings-options {
        margin: 0;
    }

    .settings-options a {
        font-size: 2.4rem;
    }

    .settings-options span {
        font-size: 2.4rem;
    }

    .settings-header h1 {
        display: none;
    }

    #theme-div,
    #language-div,
    #help-div {
        width: 80vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 400px) {
    #settings-container{
        width: 90vw;
    }

    .settings-options a {
        font-size: 2rem;
    }

    .settings-options span {
        font-size: 2rem;
    }

}