/* Container da barra de pesquisa */
.search-bar-wrapper {
    margin: 2rem auto 1rem auto;
    max-width: 780px;
    width: 100%;
}

/* Input */
.search-input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#search-input {
    font-size: 1.6rem !important;
    padding: 20px;
}

#search-input::placeholder{
    color: var(--dark-gray);
}

#search-input:focus {
    outline: none;
}

#search-input:focus + .search-icon {
    color: var(--blue1);
}

.search-icon {
    position: absolute;
    right: 1.1rem;
    width: 20px;
    height: 20px;
    pointer-events: none;
    opacity: 1;
    color: var(--purple1);
}

/* Resultados */
#search-results {
    padding: 0 1rem;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

#search-results .loading{
    font-size: 16px;
}

@media (max-width:768.69px) {
    #page-search{
        max-width: 80vw;
    }
}
