/* Container da barra de pesquisa */
.search-bar-wrapper {
    margin: 2rem auto 1rem auto;
    max-width: 780px;
    width: 100%;
}

/* Input */
.search-input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#search-input {
    font-size: 1.6rem !important;
    padding: 20px;
    background-color: #72efdc1f;
    border: 1px solid var(--blue5);
    border-left: 5px solid var(--blue1);
    box-shadow:  0px 0px 20px #56cee12b;
}

#search-input::placeholder{
    color: var(--blue1);
}

#search-input:focus {
    border-color: var(--blue3);
    box-shadow: 0 0 0 3px rgba(83, 144, 217, 0.2);
    outline: none;
}

.search-icon {
    position: absolute;
    right: 1rem;
    width: 20px;
    height: 20px;
    pointer-events: none;
    opacity: 1;
    color: var(--blue3);
}

/* Resultados */
#search-results {
    padding: 0 1rem;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

#search-results .loading{
    font-size: 16px;
}

@media (max-width:768.69px) {
    #page-search{
        max-width: 80vw;
    }
}