.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background: var(--white);
    padding: 24px 20px;
    border-radius: 16px;
    width: 100%;
    max-width: 600px;
    max-height: 500px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.15);
    position: relative;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--blue3);
    margin-bottom: 20px;
}

.modal-header h2 {
    font-size: 20px;
    font-weight: bold;
    color: var(--blue1);
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.close-button {
    color: var(--black);
    cursor: pointer;
    font-size: 30px;
    padding: 0px 12px;
}

.close-button:hover {
    color: red;
    font-weight: bold;
}

#postSubmitBtn {
    background-color: var(--white);
    border: 1px solid var(--blue1);
    border-radius: 8px;
    color: var(--blue1);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -3px;
    padding: 6px 14px;
}

#postSubmitBtn:hover {
    background-color: var(--blue1);
    border: 1px solid var(--blue1);
    color: var(--white);
}

.user-info {
    display: flex;
    align-items: center;
    margin: 10px 0 15px;
    gap: 10px;
}

.modal-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.modal-username {
    font-weight: bold;
    font-size: 18px;
}

#postContent {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    background-color: var(--main-white);
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 12px;
}

#postContent:focus {
    border-color: var(--blue1);
    box-shadow: 0 0 0 3px rgba(83, 144, 217, 0.2);
    outline: none;
}

.hashtags-box {
    margin-bottom: 10px;
    color: var(--blue1);
}

.hashtags-box label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

#postHashtags {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--gray);
    background-color: var(--main-white);
    font-size: 14px;
    color: var(--main-black);
}

#postHashtags:focus {
    border-color: var(--blue1);
    box-shadow: 0 0 0 3px rgba(83, 144, 217, 0.2);
    outline: none;
}

.post-actions {
    margin: auto;
}


 /* Estilos para o contador de caracteres */
#create-char-count {
    display: block;
    font-size: 14px;
    margin-top: 1px;
    text-align: right;
    color: #666;
}

 .close-button{
  color: var(--blue1);
   border-radius: 5px;
}

@media (max-width: 768px) {
    .modal-content{
        width: 95vw;
        max-height: 500px;
        padding-top: 0;
    }

    #closePostModal{
        scale: 1.4;
    }

    .modal-avatar{
        width: 48px;
        height: 48px;
    }
    
    .modal-header{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .modal-header h2{
       font-size: 2.6rem;
    }

    .modal-username{
        font-size: 2rem;
    }

    #postContent{
        font-size: 1.6rem;
    }

    #postHashtags{
        margin-bottom: 50px;
    }

    .close-button, #postSubmitBtn{
        font-size: 2.6rem;
    }

    .create-btn{
        font-size: 2rem !important;
        position: absolute;
        bottom: 0;
        right: 4%;
        margin-bottom: 20px;
    }

}

