.profile {
    color: var(--main-black);
    padding: 20px;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 1px 3px var(--purple1);
}

.profile-posts .post-card {
    box-shadow: 
        1px 1px 1px .5px rgba(105, 48, 195, 0.8),
        -1px -1px 1px .5px rgba(0, 0, 0, 0.1);
}

.profile-header {
    margin-bottom: 20px; 
    max-width: 80%;
    margin: 0 auto;
}

.profile-header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.profile-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.profile-header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-picture-wrapper {
    width: 100px;
    height: 100px;
    position: relative;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--purple3);
    object-fit: cover;
}

.edit-icon-label {
    position: absolute;
    bottom: 4px;
    right: 4px;
    background-color: var(--purple1);
    color: var(--white);
    border-radius: 50%;
    padding: 4px 6px;
    font-size: 12px;
    cursor: pointer;
}

.user-name-group {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 18px;
    font-weight: bold;
}

#edit-button {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.standard-btn .material-symbols-outlined {
    font-size: 16px;
    vertical-align: middle;
}

.edit-btn {
    border-radius: 15px !important;
}

.edit-field {
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.edit-label {
    font-size: 12px;
    font-weight: bold;
}

.edit-input {
    border: 2px solid var(--purple1);
    border-radius: 8px !important; 
    font-size: 14px;
    cursor: pointer;
    color: var(--main-black);
    padding: 5px 5px;
}

.edit-input:focus {
    border-color: var(--blue1);
    box-shadow: 0 0 0 3px rgba(83, 144, 217, 0.2);
    outline: none;
}

.bio-block {
    margin-top: 10px;
    max-width: 100%;
    width: 100%;
}

.bio-block #biosText {
    font-size: 16px;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    width: 100%;

}

.posts-container {
    margin-top: 20px;
    padding-top: 30px;
    border-top: 1px solid var(--purple1);
}

