body.dark-mode {
  --main-white: #282A2C;
  --white: #1e1e1e;
  --gray: #878C8F;
  --main-black: #FCF7FF;

  background-color: var(--main-white);
  color: var(--gray);
}

body.dark-mode .title {
    color: #5E60CE !important;
  
}

/* Botão de alternar tema */
#dark-mode-toggle {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 1001;
  background-color: var(--roxo3);
  color: var(--white);
  border: none;
  border-radius: 20px;
  width: 45px;
  height: 45px;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: background-color 0.3s;
}

#dark-mode-icon {
  font-size: 30px !important;
  transform: translate(-15px, -4px);
}

/* ===== MODO ESCURO: Página de Login ===== */
body.dark-mode#body-login a {
	color: #FCF7FF;
}

body.dark-mode#body-login p{
  font-weight: bold;
  color: #1e1e1e;
}

body.dark-mode#body-login input{
  color: #FCF7FF;
}

/* ===== MODO ESCURO: Página de Interesses ===== */
body.dark-mode#interests-page {
  --main-white: #282A2C;
  --dark-gray: #3C3D3F;
  --main-black: #FCF7FF;
  --light-gray1: #3C3D3F;
  --purple1:  #5E60CE;
  
  --white:#000000;
  --black:#FFFFFF;
}

body.dark-mode#interests-page .interests-input{
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}

body.dark-mode#interests-page{
  color: var(--purple1);
}

body.dark-mode#interests-page .add-ico{
  color: #6930C3;
}
body.dark-mode#interests-page .suggestions{
  color: #C4CAD0;
  background-color: #3C3D3F;
}

body.dark-mode#interests-page .suggestions div:hover{
  color: #282A2C;
  background-color: #5E60CE;
}
body.dark-mode#interests-page p,  .interests-instruction{
  color:#C4CAD0 ;

}

/* ===== MODO ESCURO: Página de Feed ===== */
body.dark-mode#body-feed {
   --gray: #878C8F;
  --dark-gray: #3C3D3F;
  --main-white: #282A2C;
  --main-black: #FCF7FF;
  --light-gray1: #3C3D3F;
  --light-gray2: #C4CAD0;
  --white:#000000;
  --black:#FFFFFF;
  --purple3: #5E60CE;

  --blue5: var(--blue5);
  background-color: var(--dark-gray);
  color: var(--light-gray1);

  scrollbar-color: var(--purple3) var(--dark-gray);
}

/* Sidebars, header e sidebar-direita */
body.dark-mode#body-feed .sidebar, .header {
  background-color: var(--main-white);
  color: var(--light-gray2);
  border-color: var(--light-gray1);
}

/* Links e textos dentro da sidebar */
 body.dark-mode#body-feed .sidebar .nav-link { 
  color: var(--light-gray2);
}

body.dark-mode#body-feed .sidebar .nav-link:hover {
  background-color: var(--light-gray1);
  color: var(--blue5);
}

body.dark-mode#body-feed .sidebar .nav-link.active {
  background-color: var(--light-gray1);
  color: var(--light-gray2);
}

/* Feed central */
body.dark-mode#body-feed .feed-central {
  background-color: var(--light-gray1);
  color: var(--light-gray2);
  
}

/* Posts */
body.dark-mode#body-feed .post-card {
  background-color: var(--main-white);
  color: var(--light-gray1);
  box-shadow: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 1.25rem;
}

body.dark-mode#body-feed .post-content{
  color: var(--main-black);
}

body.dark-mode#body-feed .fixed-sidebar-direita {
  background-color: var(--light-gray1);
  border-left: 4px solid #3C3D3F;
}
body.dark-mode#body-feed .profile-suggestion {
  color: var(--black);
}

body.dark-mode#body-feed .loading, .generating-message{
  color: var(--black);
}

body.dark-mode#body-feed .profile-suggestion:hover{
  color: var(--purple3);
}

/* ===== MODO ESCURO: Pesquisa ===== */
body.dark-mode .text-center h1{
    color: #5E60CE;
}

body.dark-mode #search-input{
  background-color: var(--dark-gray);
  color: var(--black);
  border-color: #5E60CE ;
}
body.dark-mode  .form-control::placeholder{
color: var(--black);
}

/* ===== MODO ESCURO: Página de Notificações ===== */
body.dark-mode .notifications-container {
    background-color: var(--main-white);
}

body.dark-mode .notification-header{

  background-color: var(--main-white);
  color: var(--light-gray2);
 

}
body.dark-mode .notification-header {
  border-bottom: 1px solid #5E60CE ;
}

body.dark-mode .notification-card{
  background-color: var(--light-gray1);
  border-color: var(--purple3);
}

body.dark-mode .notification-card.unread {
  border-left: 4px solid var(--light-gray2);
  background-color: var(--gray);
}

body.dark-mode .notification-card:not(.unread) p.notification-message {
  color: var(--light-gray2);
}


body.dark-mode .notification-card:hover {
  transform: translateY(-2px);
}

body.dark-mode .notification-time, .bi, .btn {
  color: var(--purple3);
}

body.dark-mode .mark-all-read{
  color: var(--purple3);
}

body.dark-mode .standard-btn{
  background-color: var(--main-white);
}

body.dark-mode .standard-btn:hover{
  color: var(--main-white) !important;
  background-color: var(--purple3);
}

body.dark-mode .no-notifications{
  background-color: var(--dark-gray);  
  color: var(--purple3);
}

body.dark-mode p.notification-message{
  color: var(--light-gray1);
}

body.dark-mode button.mark-as-read{
  color: var(--purple3);
  background-color: var(--light-gray2);  
}

body.dark-mode button.mark-as-read:hover{
  color: var(--light-gray2);
  background-color: var(--purple3);
}


/* ===== MODO ESCURO: Criar ===== */
 body.dark-mode .modal-content{
  color:  #878C8F;
  background-color: #282A2C;
  border-color:#5E60CE;
 }

body.dark-mode #postContent{
  border-color: #5E60CE;
  background-color: #282A2C;
  color: #D9DCE2;
}

body.dark-mode .modal-username{
  color: #5E60CE;
}

body.dark-mode label{
  color: #5390D9;
}
body.dark-mode #postHashtags, .modal-header{
  border-color: #5E60CE;
  color: #5390D9;
}

body.dark-mode .modal-header{
  border-bottom: 1px solid var(--purple3);

}

body.dark-mode .close-button{
  color: #6930C3;
}

body.dark-mode #postSubmitBtn{
  background-color: var(--purple3);
  color: var(--main-white);
}
body.dark-mode .error-message{
  color:#FCF7FF;
}

/* ===== MODO ESCURO: Configuração ===== */
body.dark-mode #settings-container, 
div#theme-div, div#help-div, div#language-div, .settings-btn{
  background-color: var(--main-white);
}

body.dark-mode .logout-btn{
  background-color: var(--main-white);
} 

body.dark-mode .settings-btn{
  color: var(--purple3);
}
body.dark-mode .standard-btn{
  border-color: var(--purple3) !important;
}

body.dark-mode .logout-btn:hover{
  background-color: var(--purple2);
  border:  var(--purple2) !important;
}

body.dark-mode .settings-option{
    color: var(--purple3);
}
body.dark-mode .settings-option:hover{
  color: var(--white);
  background-color: var(--purple2);
}

 body.dark-mode .settings-header{
border-bottom: 1px solid #5E60CE ;
}

body.dark-mode .icon-right{
  color: #5E60CE ;
}

body.dark-mode .subtitle{
    color: #5E60CE !important;
}

/* ===== MODO ESCURO: Perfil do usuario ===== */

body.dark-mode .profile{
  background-color: var(--main-white);
}

body.dark-mode .posts-container{
  border-top: 1px solid var(--purple3);

}

body.dark-mode .delete-post-btn:hover{
  color: var(--purple1);
}

body.dark-mode .delete-post-btn{
  color: var(--purple3);
}


body.dark-mode .edit-input{
  border: 2px solid var(--purple3);
  color: var(--black);
  background-color: var(--light-gray1);
}



body.dark-mode #bioText{
  color: var(--light-gray2);
}