body {
    margin: 0px;
    font-family: 'Roboto', Helvetica, sans-serif;
    box-sizing: border-box;
    color: var(--main-black);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
}

:root {
    --purple1: #6930C3;
    --purple2: #6930C3;
    --purple3: #5E60CE;
    --blue1: #5390D9;
    --blue2: #4EA8DE;
    --blue3: #48BFE3;
    --blue4: #56CFE1;
    --blue5: #64DFDF;
    --blue6: #72EFDD;

    --gray: #878C8F;
    --light-gray1: #D9DCE2;
    --light-gray2: #C4CAD0;
    --dark-gray: #3C3D3F;
    --main-white: #FCF7FF;
    --main-black: #282A2C;

    --white: #FFFFFF;
    --black: #000000;
}

.title {
    color: var(--purple1) !important;
}

.standard-input {
    width: 100%;
    height: 60px !important;
    border: 2px solid var(--purple1);
    border-radius: 8px !important; 
    font-size: 14px;
    cursor: pointer;
    color: var(--main-black);
}

.standard-btn {
    background-color: var(--white);
    color: var(--purple1);
    border: 1px solid var(--purple1) !important;
}

.standard-btn:hover {
    background-color: var(--purple1);
    color: var(--white) !important;
    border: 1px solid var(--purple1);
}